@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
.App {
    background: rgb(0,0,0);
background: linear-gradient(9deg, rgba(0,0,0,1) 0%, rgba(44,9,121,0.865983893557423) 35%, rgba(0,212,255,1) 100%);
margin:0;
padding: 0;}